/* -------- BASIC ----------- */

* {
    margin: 0;
    padding: 0;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #9a9a9a;
    overflow: auto;
    box-sizing: border-box;
    border-collapse: collapse;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url(img/hideout.svg);
    background-size: 30px 30px;
}

.background-box {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgba(202, 217, 199, 0.9), rgba(244, 234, 207, 0.9), rgba(230, 232, 208, 0.9), rgba(244, 234, 207, 0.9));
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

/* ------------ HEADINGS ---------------*/

h1 {
    font-size: 3em;
    font-family: 'Lobster', cursive;
    color: #ffa700;
    margin-bottom: 20px;
}

h2 {
    font-size: 2em;
    font-weight: bold;
}

h3 {
    font-size: 1em;
    font-weight: bold;
}

/* ------------ PARAGRAPHS ---------------*/

p {
    font-size: 0.9em;
    line-height: 140%;
    overflow: hidden;
}

/* -------- LINKS IN MAIN CONTENT ----------- */

main a {
    font-size: 0.9em;
    text-decoration: none;
    line-height: 35px;
    color: #ffa700;
}

main a:hover {
    text-decoration: underline;
    color: #ffa700;
}


/* -------- HEADER ----------- */

header {
    width: 70%;
    height: 150px;
    background-color: #e6e3d5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* -------- HEADER NAVIGATION----------- */

nav {
    width: 100%;
    margin-top: 100px;
    height: 50px;
    border-bottom: 0.5px solid #c7c4b9;
    border-top: 0.5px solid #c7c4b9;
    background-color: #dedbce;
    overflow: hidden;
}

nav ul {
    margin: auto;
    padding-left: 20%;
}

nav li {
    display: inline-block;
    float: left;
    width: 15%;
    list-style-type: none;
    line-height: 50px;
    text-align: center;
}

nav li a {
    display: block;
    color: #696969;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9em;
}

nav li:hover {
    background-color: #d1cec1;
}

.active {
    background-color: #fff;
}

/* -------- MAIN ----------- */

main {
    width: 70%;
    height: 75%;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-container {
    margin: 0 auto;
    margin-top: 60px;
    display: block;
    width: 60%;
    overflow: hidden;
}

/* -------- ABOUT ----------- */

main img {
    display: block;
    float: left;
    width: 20%;
    border-radius: 50px;
}

.p-container {
    padding-left: 40px;
    text-align: left;
    vertical-align: center;
    width: 80%;
    display: block;
    float: left;
}

main p {
    line-height: 180%;
}

/* -------- FAVORITES ----------- */

table {
    margin: 0;
}

main th {
    width: 20%;
    text-align: left;
    padding: 10px 0 10px 10px;
    background-color: #fff;
    border: 0;
    border-bottom: 2px solid #9a9a9a;
}

main td {
    font-size: 0.9em;
    vertical-align: middle;
    padding: 15px 10px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

main a {
    font-size: 1em;
}

tr:nth-child(2n+1) {
    background-color: rgb(240, 240, 240);
}


/* -------- LINKS ----------- */

main a {
    text-decoration: none;
    line-height: 35px;
    color: #ffa700;
}

main a:hover {
    text-decoration: underline;
    color: #ffa700;
}

/* -------- CONTACT ----------- */

.form-container {
    margin-top: 20px;
    text-align: left;
}

label {
    font-size: 0.8em;
}

textarea {
    height: 200px;
    padding-top: 10px;
    overflow: auto;
}

option[disabled] {
    color: #ccc;
}

input[type=text], select, select[value], textarea {
    width: 60%;
    height: 40px;
    padding-left: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.9em;
}

input[type=submit], input[type=reset] {
    display: inline-block;
    width: 15%;
    height: 40px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: #fff;
    border: 2px solid #faba42;
    color: #ffa700;
    cursor: pointer;
}

input[type=submit]:hover, input[type=reset]:hover {
    background-color: #faba42;
    color: #fff;
    border: 0;
    transition-duration: 0.5s;
}

input[type=text]:focus, textarea:focus {
    background-color: #eee;
    border: 0;
}



/* -------- FOOTER ----------- */

footer {
    width: 70%;
    height: 100px;
    background-color: #e6e3d5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer-container {
    margin: 0 auto;
    margin-top: 25px;
    display: block;
    width: 60%;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
}

footer p {
    font-size: 0.9em;
    display: inline-block;
    padding-left: 20px;
    vertical-align: middle;
    overflow: hidden;
}

footer a {
    font-size: 0.95em;
    display: inline-block;
    padding-left: 20px;
    vertical-align: middle;
    text-transform: lowercase;
    text-decoration: none;
}

footer a:hover {
    color: #adabab;
    text-decoration: underline;
}

footer i {
    display: inline-block;
    font-size: 1.8em;
    vertical-align: middle;
    text-align: center;
}

footer i:hover {
    color: #adabab;
}



