/* -------- BASIC ----------- */

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #9a9a9a;
    overflow: hidden;
    box-sizing: border-box;
    border-collapse: collapse;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url(img/hideout.svg);
    background-size: 30px 30px;
}

.background-box {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgba(202, 217, 199, 0.9), rgba(201, 196, 192, 0.9), rgba(230, 232, 208, 0.9), rgba(244, 234, 207, 0.9));
}

/* -------- HEADER ----------- */

header {
    position: fixed;
    width: 55%;
    left: 50%;
    transform: translate(-50%);
    height: 100px;
    background-color: #e6e3d5;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* -------- HEADER NAVIGATION ----------- */

.nav {
    width: 100%;
    margin: auto;
    margin-top: 60px;
    background-color: #e6e3d5;
    overflow: hidden;
    border-bottom: 1px solid #d8d5c7;
}

.nav ul {
    position: relative;
    margin: auto;
    margin-left: 150px;
    list-style-type: none;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    float: left;
    height: 40px;
    color: #696969;
    text-decoration: none;
    padding: 10px 40px;
    text-transform: uppercase;
    font-size: 0.8em;
}

.nav li a:hover {
    background-color: #d1cec1;
}

.active {
    background-color: #dcd9cb;
}

/* -------- MAIN ----------- */

.main-box {
    width: 55%;
    height: 90%;
    margin: auto;
    margin-top: 100px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: auto;
}

main {
    width: 70%; 
    margin: auto;
    margin-top: 5%;
}

/* -------- MAIN ABOUT ----------- */

.about-wrapper {
    display: block;
    margin: auto;
    width: 100%;
}

main img {
    display: block;
    float: left;
    width: 25%;
    border-radius: 50px;
}

.p-container {
    padding-left: 40px;
    text-align: left;
    vertical-align: center;
    width: 75%;
    display: block;
    float: left;
}

main p {
    line-height: 180%;
}

/* -------- MAIN FAVORITES ----------- */

main th {
    width: 20%;
    text-align: left;
    padding: 20px 0 10px 10px;
    background-color: #fff;
    border: 0;
    border-bottom: 2px solid #9a9a9a;
}

main td {
    font-size: 0.9em;
    vertical-align: middle;
    padding: 20px 10px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

main a {
    font-size: 1em;
}

tr:nth-child(2n+1) {
    background-color: rgb(240, 240, 240);
}

/* -------- MAIN LINKS ----------- */

main a {
    text-decoration: none;
    line-height: 35px;
    color: #ffa700;
}

main a:hover {
    text-decoration: underline;
    color: #ffa700;
}

/* -------- MAIN CONTACT ----------- */


.form-wrapper {
    margin-left: 13%;
    text-align: left;
}

.form-container {
    margin: auto;
    margin-top: 20px;
    text-align: left;
}

label {
    font-size: 0.8em;
}

textarea {
    height: 150px;
    padding-top: 5px;
    overflow: auto;
}

option[disabled] {
    color: #ccc;
}

input[type=text], select, select[value], textarea {
    width: 85%;
    height: 40px;
    padding-left: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.9em;
}

input[type=submit], input[type=reset] {
    display: inline-block;
    width: 15%;
    height: 40px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: #fff;
    border: 2px solid #faba42;
    color: #ffa700;
    cursor: pointer;
}

input[type=submit]:hover, input[type=reset]:hover {
    background-color: #faba42;
    color: #fff;
    border: 0;
    transition-duration: 0.5s;
}

input[type=text]:focus, textarea:focus {
    background-color: #eee;
    border: 0;
}



/* -------- FOOTER ----------- */
footer {
    width: 55%;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    margin: auto;
    background-color: #e6e3d5;
    color: #696969;
    overflow: hidden;
    border-top: 1px solid #d8d5c7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.footer-container {
    margin: auto;
    padding-top: 1%;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.9em;
}


footer p {
    font-size: 0.9em;
    display: inline-block;
    padding-left: 20px;
    vertical-align: middle;
    overflow: hidden;
}

footer a {
    font-size: 1em;
    display: inline-block;
    padding-left: 20px;
    vertical-align: middle;
    text-transform: lowercase;
    text-decoration: none;
}

footer a:hover {
    color: #adabab;
    text-decoration: underline;
}

footer i {
    display: inline-block;
    font-size: 1.8em;
    vertical-align: middle;
    text-align: center;
}

footer i:hover {
    color: #adabab;
}


/* ------------ HEADINGS ---------------*/

h1 {
    font-size: 2em;
    font-family: 'Lobster', cursive;
    color: #ffa700;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
}

h3 {
    font-size: 1em;
    font-weight: bold;
}

/* ------------ PARAGRAPHS ---------------*/

p {
    font-size: 0.9em;
    line-height: 110%;
}